
body{
font-family: 'Montserrat';
text-align:center;
}

h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-weight:700;

}

h3{

  font-size: 1.5rem;
}

p{
  color:#8f8f8f;

}

/* Headings */

.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;

}

.section-heading{
  font-size:3rem;
  line-height:1.5;
}

/* Containers */

.container-fluid{
  padding:3% 15% 7%;
}

/* Sections */

.colored-section{
  background-color:#ff4c68;
color: white;
}

.white-section{
  background-color: white;
  color:black;
}
/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1rem;
  font-family: 'Montserrat';
  font-weight:400;
}

/* Title */


#title{
  text-align:left;
}


/* Download Buttons */

.download-button{
  margin:2% 2% 10% 2%;
}

/* Title Image */
.title-image{
  width: 49%;
  margin: 0 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 7%;
}

/* Features Section */

#features{
   padding: 7% 15%;
     position: relative;

}

.feature-title{
  font-size: 1.5rem;
}

.feature-box{

  padding:5%;
}



.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#ff4c68
}


/* Testimonial Section */

#testimonials{
background-color:#ef8172;
}

.testimonial-text{
  font-famliy: 'Montserrat';
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin:20px;
}

.carousel-item{
    padding:7% 15%;
}

/* Press Section */

#press{
  background-color:#ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
  padding: 100px;
}

.price-text{
  line-height:1.5;
  font-size: 3rem;
}

.card{
  padding:  ;
}

.pricing-column{
  padding:3% 2%;
}


@media (max-width: 1028px){
  .title-image{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: left;
  }
}

 /* Call to Action Section  */

#cta{
  padding: 7% 15%;
}

.cta-btn{
  margin: 2% 0  9%  1%;
}


/* Footer Section */

#footer{
  padding:5%;
}

.foot{

  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
}
